<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Entry Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let detail of details">
    <ion-col align-items-center>
      <ion-row>
        <ion-label>Entry Date:</ion-label>    
        <ion-input value="{{detail.entryDate | date:'dd/MM/yy'}}  " disabled> </ion-input>    
      </ion-row>
      <ion-row>
        <ion-label>Start Time:</ion-label>
        <ion-input value="{{detail.startTime | date:'hh:mm a'}}" disabled> </ion-input>   
      </ion-row>
      <ion-row>
        <ion-label>End Time:</ion-label>
        <ion-input value="{{detail.endTime | date:'hh:mm a'}}" disabled> </ion-input>  
      </ion-row>
      <ion-row>
          <ion-label>Break Time:</ion-label>
        <ion-input value="{{detail.breakTime | date:'H:mm' : 'UTC'}}" disabled> </ion-input>  
      </ion-row>
      <ion-row>
        <ion-label>Total Hours:</ion-label>
        <ion-input value="{{detail.totalHours | date:'H:mm' : 'UTC'}}" disabled> </ion-input>  
      </ion-row>
    </ion-col>
      <ion-button color="danger" (click)="deleteEntry()">
          <ion-icon name="trash"></ion-icon>
          Delete Entry
      </ion-button>
    </ion-content>
