<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Clients</ion-title>
    <ion-buttons slot="end">
        <ion-button routerLink="../add-client">
            <ion-icon name="add-circle"></ion-icon> 
        </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let client of clients">
    <ion-label class="clientName" (click)="clientEntries(client.clientID)">
      {{ client.companyName }}
    </ion-label>
      <ion-buttons slot="end">
          <ion-button (click)="clientDetails(client.clientID)">
            <ion-icon name="information-circle" color="secondary"></ion-icon>
          </ion-button>
      </ion-buttons>  
  </ion-item>

</ion-content>
