<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Add Entry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addEntryForm" (submit)="addEntry()">
      <ion-select formControlName="clientID"  placeholder="Select the client" >
        <ion-select-option *ngFor="let client of clients" value="{{client.clientID}}" class="clientName"> {{ client.companyName }}</ion-select-option>
      </ion-select>
      <ion-label>Date:</ion-label>
      <ion-datetime formControlName="entryDate" display-format="DD/MM/YYYY" ></ion-datetime>
      <ion-label>Start:</ion-label>
      <ion-datetime formControlName="startTime" display-format="hh:mm A"></ion-datetime>
      <ion-label>End:</ion-label>
          <ion-datetime formControlName="endTime" display-format="hh:mm A"></ion-datetime>
      <ion-label>Break:</ion-label>
      <ion-datetime formControlName="breakTime" display-format="HH:mm"></ion-datetime>

      <ion-label>Total:</ion-label>
      <ion-label *ngIf="sumTotalHours()">Total</ion-label>

      <ion-button expand="block" type="submit" [disabled]="!addEntryForm.valid">
          <ion-icon name="add-circle"></ion-icon> 
      </ion-button>
  </form>

</ion-content>

