<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Entries</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="./../../add-entry"> 
          <ion-icon name="add-circle"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col col-4>
            <ion-label>Date</ion-label>
        </ion-col>
        <ion-col col-2>
            <ion-label>Started</ion-label>
        </ion-col>
        <ion-col col-2>
            <ion-label>Finished</ion-label>
        </ion-col>
        <ion-col col-2>
            <ion-label>Break</ion-label>
        </ion-col>
        <ion-col col-2>
            <ion-label>Total</ion-label>
        </ion-col>  
      </ion-row>
  <ion-row *ngFor="let entry of entries">
    <ion-col col-4>
        <ion-label>{{ entry.entryDate | date:'dd/MM/yy'}}</ion-label>
    </ion-col>
    <ion-col col-2>
        <ion-label>{{ entry.startTime | date:'hh:mm a'}}</ion-label>
    </ion-col>
    <ion-col col-2>
        <ion-label>{{ entry.endTime | date:'hh:mm a' }}</ion-label>
    </ion-col>
    <ion-col col-2>
        <ion-label>{{ entry.breakTime | date:'hh:mm' }}</ion-label>
    </ion-col>
    <ion-col col-2>
        <ion-label> {{ totalHours(entry.startTime, entry.endTime, entry.breakTime) }}</ion-label>
    </ion-col>  
  </ion-row>

  <ion-item>


  </ion-item>

</ion-content>
