<ion-header>
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>

    <ion-title>Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="countingForm">
    <ion-item lines="none">
      <ion-label>Let's start counting!</ion-label>
    </ion-item>
      <ion-select formControlName="clientID" placeholder="Select the client" >
          <ion-select-option *ngFor="let client of clients" value="{{client.clientID}}" class="clientName"> {{ client.companyName }}</ion-select-option>
      </ion-select>

     

      <ion-button [disabled]="started" (click)="saveStart()">Start</ion-button>

      <ion-button [disabled]="!started"  (click)="saveEnd()">Stop & Save</ion-button>

      
    </form>
    <ion-label>  {{ this.timerDate | date: 'h:mm:ss':'UTC' }}</ion-label>


</ion-content>
