<ion-header>
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>

    <ion-title>Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="countingForm">
    <ion-item lines="none">
      <ion-label>Let's start counting!</ion-label>
    </ion-item>
      <ion-select formControlName="clientID" placeholder="Select the client" >
          <ion-select-option *ngFor="let client of clients" value="{{client.clientID}}" class="clientName"> {{ client.companyName }}</ion-select-option>
      </ion-select>

      <ion-label class="timerClock">  {{ this.timerDate? (this.timerDate | date: 'H:mm:ss':'UTC') : "0:00:00" }} </ion-label>



          <ion-button class="button button-small" [disabled]="started" (click)="saveStart()" slot="start">Start</ion-button>

          <ion-button class="button button-small" [disabled]="!started"  (click)="saveEnd()" slot="end">Stop & Save</ion-button>
    


    </form>
    
    <ion-item-divider>
    <ion-col>
      <ion-label>
        Total hours:
      </ion-label>
      <ion-input value="{{ this.allEntriesTotalHours/3660 | number:'1.2-2' }}" disabled></ion-input>
      
    </ion-col>
    </ion-item-divider>

</ion-content>
