// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


ion-input, ion-textarea{
    border: 1px solid #d1d0d0;
    border-radius:5px;
    padding: 0 5px;
}

.dataSize{
    font-size: 12px;
}

ion-input, ion-label, ion-button{
    margin: 4% 5%;
}

.native-input.sc-ion-input-md{
    padding-left: 10px;
    padding-right: 10px;
}